<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="robots" content="index, follow" />

  <title>picsum.photos gallery 📷</title>
  <meta name="description"
    content="Select 10 random images from picsum.photos and display them into a beautiful carousel" />

  <meta name="theme-color" content="#FFFFFF" />
  <link rel="icon" sizes="16x16" href="/assets/favicon-16x16.png" />
  <link rel="icon" sizes="32x32" href="/assets/favicon-32x32.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png" />

  <% for (var filePath in htmlWebpackPlugin.files.js) { %>
    <script async src="<%= htmlWebpackPlugin.files.js[filePath] %>"></script>
    <% } %>
      <% for (var filePath in htmlWebpackPlugin.files.css) { %>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[filePath] %>" />
        <% } %>
</head>

<body>
  <input type="checkbox" id="theme" name="theme"
    style="opacity:0; position:absolute; visibility: hidden; z-index:-1; pointer-events: none;" />
  <label for="theme" id="theme-switcher">
    <div class="icon icon--sun"></div>
    <div class="icon icon--moon"></div>
  </label>
  <div id="app"></div>
</body>

</html>